    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='/login.js'></script>
    <script type='text/javascript' src='/switchView.js'></script>
    <script type='text/javascript' src='/delete.js'></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src='/network.js'></script>
    <script type='text/javascript' src='/graph.js'></script>
    <script type='text/javascript' src='/utils.js'></script>
    </body>
</html>