    <div class='foot'>&copy; Copyright 2017 Dashbit - An <a href='http://www.archeratberkeley.com'>Archer House</a> Project</div>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='/login.js'></script>
    <script type='text/javascript' src='/switchView.js'></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type='text/javascript' src='/utils.js'></script>
    <script type='text/javascript' src='/folders.js'></script>
    </body>
</html>