<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        <div class='navbar-header'>
            <a class='navbar-brand' href='/addresses'>Blockchain Dashboard</a>
        </div>
        <div class="collapse navbar-collapse">
            <div class="navbar-right">
                <% if (currentUser) { %>
                     <a id="logoutBtn" class="btn btn-outline-success my-2 my-sm-0" href='/logout'>Logout</a>
                <% } else { %>
                    <a id='logoutBtn' class='btn btn-outline-success my-2 my-sm-0' href='/login'>Login or Register</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>