<% include partials/header %>
<% include partials/navbar %>
<div class="page-header" id='reportHeader'>
  	<h1><small>Transaction Report</small></h1>
</div>
<div id='backgroundTimeline'>
    <section class="timeline">
      <ul>
        <% for (var i = 0; i < path.length; i++) { %>
            <li onclick="window.location.href='/address/<%= path[i].addr %>'">
              <div>
                <strong><%= path[i].addr %></strong> <br>
                <% if (i != path.length - 1) { %>
                    Received <%= path[i].amt / 100000000 %> BTC <br>
                    <%= path[i].date %>
                <% } else { %>
                    Node of Interest
                <% } %>
              </div>
            </li>
        <% } %>
         
      </ul>
    </section>
</div>

<script type='text/javascript' src='/report.js'></script>
<% include partials/footer %>