.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}

.page-header {
	text-align: center;
}

#logoutBtn {
	background-color: transparent;
	margin-top: 6.5px;
	color: #777;
}

.jumbotron {
    padding: 0.5em 0.6em;
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
        .btn {
            padding: 0.5em;
        }
    }
    margin-bottom: 10px;
}

.navbar {
	margin-bottom: 10px;
	/*background-color: #4285F4;*/
}

.list-group {
	margin-bottom: 10px;
}

#addAddressBtn {
  float:right;
  margin-right: 10px;
}

.badge {
	line-height: 1.5;
	font-size: 16px;
}

.balLabel {
	float: right;
	font-size: 10px;
	margin-right: 150px;
	width: 275px;
	text-align: center;
}

.balLabel p {
	margin-bottom: 3px;
}

.rightTrans {
	float: right;
	margin-top: 15px;
	width: 250px;
	text-align: right;
}

.trash {
	margin-left: 10px;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 200px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
	background: "#708090";
	opacity: .8;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

svg {
	width: 100%;
	margin: auto;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin-top: 10px;
    margin-bottom: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #000;
}
 
.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #F45B69;
  cursor: pointer;
}
 
.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}
 
.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #F45B69 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}
 
.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #F45B69;
}

.timeline ul li::after {
  background: black;
  transition: background .5s ease-in-out;
}
 
.timeline ul li.in-view::after {
  background: black;
}
 
.timeline ul li div {
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}
 
.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px,0,0);
}
 
.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px,0,0);
}
 
.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px; /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
   
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
   
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
   
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
  }
}

#backgroundTimeline {
	background-color: #f5f5f5;
	padding-bottom: 25px;
}

#reportHeader {
	margin-bottom: 0;
	color: black;
}

.timeline ul li:last-of-type div {
	background-color: #228B22;
}

.timeline ul li:last-of-type div::before {
	border-right-color: #228B22;
	border-left-color: #228B22;
}

.timeline ul li:first-of-type div {
	background-color: #228B22;
}

.timeline ul li:first-of-type div::before {
	border-right-color: #228B22;
}

#searchAddr {
  width: 1000px;
  margin-top: 5px;
  margin-bottom: 15px;
}

#note-view {
  margin: 10px;
}

.delete-note-btn-form {
  float: right;
}

.delete-note-btn {
  background: none;
  border: none;
}

.invisible {
  display: none;
}

#report-body {
  margin-top: 30px;
}

.horiz {
  float:left;
  margin:10px;
}

input.horiz {
  width: 30px;
}

label.horiz {
  height: 50PX;
}

.ofInterest {
  background-color: AliceBlue;
}

#report-data {
  margin-top: 50px;
}

#advanced-submit {
  float: right;
  margin-top: 30px;
}

#report-panel {
  padding-bottom: 0;
}

#report-body {
  margin-top: 10px;
}

#rp {
  margin-bottom: 0;
}

#backToReport {
  float:left;
  display:none;
  margin-top: 6px;
}

#showAdvancedBtn {
  float:right;
  margin-top: 3px;
}

#sortButton {
  margin-top: 3px;
}

.foot {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

#foot {
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
}

#bottomTable {
  float: right;
}

#bottomText {
  margin-right: 15px;
}

#folderButton {
  float: right;
}

#folderTitle {
  padding-top:10px;
}

#folderSelect {
  margin-left: 10px;
}

.folderBtns {
  float: left;
  margin-right: 5px;
}

#loginfailed {
  margin-top: 20px;
  margin-bottom: 0px;
}